<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nicolasmorin.andropoetique"
    android:versionCode="1"
    android:versionName="beta">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StatueActivity"
            android:label="@string/title_activity_statue"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nicolasmorin.andropoetique.HomeActivity" />
        </activity>
        <activity
            android:name=".ChairCentreAlarm"
            android:label="@string/chair_centre_alarmtxt"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nicolasmorin.andropoetique.HomeActivity" />
        </activity>
        <activity
            android:name=".ChairCentreActivity"
            android:label="@string/title_activity_chair_centre"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nicolasmorin.andropoetique.HomeActivity" />
        </activity>
        <activity
            android:name=".GuideVoyageActivity"
            android:label="@string/title_activity_guide_voyage"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nicolasmorin.andropoetique.HomeActivity" />
        </activity>

        <receiver android:name=".ChairCentreNotificationReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".TheatreActivity"
            android:label="@string/title_activity_theatre"
            android:parentActivityName=".HomeActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.nicolasmorin.andropoetique.HomeActivity" />
        </activity>
    </application>

</manifest>
